html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.display {
    display: grid;
    grid-template-columns: 30% repeat(5, 14%);
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    font-weight: 200;
}

.cell.points-cell {
    font-size: 17rem;
    font-weight: 500;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 80%;
        width: 4px;
        background: #000000;
        right: 15px;
        border-radius: 100px;
    }
}

.cell-row-one {
    background-color: #e6e6e6;  
    border-bottom: 2px solid;
}

.cell-row-two {
    background-color: #cecece;
    border-top: 2px solid;
}

.cell.set-end {
    font-weight: 700;
}
